Repository SanctumLabs/calamus, changes with the labels that .github/labeler.yaml gives for each.
All labels: core, auth, database, utils, config, chore, build, api, dependencies, documentation, ci, test

.github/labeler.yaml:

# Add 'core' label to any change within the 'core' directory
core:
  - src/core/*
  - src/core/**/*

auth:
  - src/auth/*
  - src/auth/**/*

database:
  - src/auth/*
  - src/auth/**/*

utils:
  - src/utils/*
  - src/utils/**/*

config:
  - src/config.(ts|js)
  - tsconfig.json

chore:
  - tslint.json
  - .gitignore
  - .env.*
  - lintstagedrc
  - github/*

build:
  - webpack.config.js
  - Dockerfile
  - docker-compose.yml
  - .nvmrc
  - .babelrc
  - mongodb/*

api:
  - src/routes/*
  - src/routes/**/*

dependencies:
  - package.json
  - yarn.lock
 
documentation:
  - ./.*md
  - ./*.apib
  - LICENSE

ci:
  - .travis.yml
  - Procfile
  - .releaserc.json
  - github/workflows/*

test:
  - src/**/*.test.(ts|js)
  - src/**/*.spec.(js|ts)
  - jest.config.js

docs(api): editor published api
  apiary.apib
Labels: documentation

docs(api): editor submitted endpoint
  apiary.apib
Labels: documentation

docs(api): editor drafts endpoint
  apiary.apib
Labels: documentation

feat(editor): editor api
  src/routes/blog/editor/index.ts
Labels: api

feat(blog): blog public api
  apiary.apib
  src/routes/blog/index.ts
  src/routes/blog/schema.ts
  src/routes/index.ts
Labels: api, documentation

feat(blog): list blogs by tag
  apiary.apib
  src/routes/blog/list/index.ts
  src/routes/blog/list/schema.ts
  src/routes/index.ts
Labels: api, documentation

feat(blog): api to get blogs by author
  apiary.apib
  package.json
  src/routes/blog/list/index.ts
Labels: api, dependencies, documentation

feat(blog): latest api
  apiary.apib
  src/routes/blog/list/index.ts
Labels: api, documentation

feat(blog): similar blog posts
  apiary.apib
  src/routes/blog/list/index.ts
  src/routes/blog/list/schema.ts
Labels: api, documentation

chore(lint): import
  src/routes/blog/list/index.ts
Labels: api

ci(travis): before_script
  .travis.yml
Labels: ci

ci(travis): remove before_install
  .travis.yml
Labels: ci

build(yarn): fix lockfile
  yarn.lock
Labels: dependencies

fix: upgrade typescript from 3.8.3 to 3.9.5
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @typescript-eslint/eslint-plugin from 2.30.0 to 2.34.0
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @typescript-eslint/parser from 2.30.0 to 2.34.0
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade snyk from 1.323.1 to 1.337.0
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @types/mongoose from 5.7.14 to 5.7.24
  package.json
  yarn.lock
Labels: dependencies

ci: version bump to v1.17.1
  package.json
Labels: dependencies

ci: version bump to v1.17.1
  package.json
Labels: dependencies

ci: version bump to v1.17.1
  package.json
Labels: dependencies

ci: version bump to v1.17.1
  package.json
Labels: dependencies

ci: version bump to v1.17.1
  package.json
Labels: dependencies

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Labels: dependencies

ci: version bump to v1.17.2
  package.json
Labels: dependencies

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Labels: dependencies

ci: version bump to v1.17.3
  package.json
Labels: dependencies

fix: upgrade snyk from 1.323.1 to 1.361.3
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade mongoose from 5.9.10 to 5.9.23
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @types/node from 13.13.4 to 13.13.14
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade lint-staged from 10.2.2 to 10.2.11
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @types/mongoose from 5.7.24 to 5.7.31
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade mongoose from 5.9.10 to 5.9.23
  yarn.lock
Labels: dependencies

fix: upgrade @types/node from 13.13.4 to 13.13.14
  package.json
  yarn.lock
Labels: dependencies

ci: version bump to v1.17.3
  package.json
Labels: dependencies

ci: version bump to v1.17.3
  package.json
Labels: dependencies

ci: version bump to v1.17.4
  package.json
Labels: dependencies

ci: version bump to v1.17.4
  package.json
Labels: dependencies

ci: version bump to v1.17.3
  package.json
Labels: dependencies

ci: version bump to v1.17.4
  package.json
Labels: dependencies
