Repository SanctumLabs/calamus, changes with the labels that .github/labeler.yaml gives for each.
All labels: core, auth, database, utils, config, chore, build, api, dependencies, documentation, ci, test

feat(profile): patch update
  apiary.apib
  src/routes/profile/index.ts
Labels: api, documentation

fix: upgrade ts-node from 8.8.2 to 8.9.0
  package.json
Labels: dependencies

fix: upgrade ts-node from 8.8.2 to 8.9.0
  yarn.lock
Labels: dependencies

fix: upgrade dredd from 13.0.2 to 13.1.0
  package.json
Labels: dependencies

fix: upgrade dredd from 13.0.2 to 13.1.0
  yarn.lock
Labels: dependencies

ci: version bump to v1.9.1
  package.json
Labels: dependencies

ci: version bump to v1.9.1
  package.json
Labels: dependencies

fix: upgrade webpack from 4.42.1 to 4.43.0
  package.json
Labels: dependencies

fix: upgrade webpack from 4.42.1 to 4.43.0
  yarn.lock
Labels: dependencies

fix: upgrade lint-staged from 10.1.6 to 10.1.7
  package.json
Labels: dependencies

fix: upgrade lint-staged from 10.1.6 to 10.1.7
  yarn.lock
Labels: dependencies

ci: version bump to v1.9.2
  package.json
Labels: dependencies

ci: version bump to v1.9.2
  package.json
Labels: dependencies

fix: upgrade @types/node from 13.13.1 to 13.13.2
  package.json
Labels: dependencies

fix: upgrade @types/node from 13.13.1 to 13.13.2
  yarn.lock
Labels: dependencies

ci: version bump to v1.9.3
  package.json
Labels: dependencies

feat(writer): blog create
  src/database/repository/blog/BlogModel.ts
  src/database/repository/blog/index.ts
  src/routes/blog/schema.ts
  src/routes/blog/writer/index.test.ts
  src/routes/blog/writer/index.ts
  src/routes/blog/writer/mock.ts
  src/routes/blog/writer/schema.ts
  src/routes/index.ts
  src/utils/role.ts
Labels: utils, api

ci: version bump to v1.10.0
  package.json
Labels: dependencies

fix: upgrade @types/mongoose from 5.7.12 to 5.7.13
  package.json
Labels: dependencies

fix: upgrade @types/mongoose from 5.7.12 to 5.7.13
  yarn.lock
Labels: dependencies

ci: version bump to v1.9.4
  package.json
Labels: dependencies

feat(writer): create a blog
  apiary.apib
  src/core/jwt/JWT.ts
  src/database/repository/role/RoleModel.ts
  src/database/repository/user/index.ts
  src/routes/auth/register/index.ts
  src/routes/auth/register/schema.ts
  src/routes/blog/writer/index.ts
  src/routes/index.ts
  src/security/authentication/index.ts
  src/security/authorization/mock.ts
  src/utils/asyncHandler.ts
Labels: core, utils, api, documentation

test(jest): coverage threshold
  jest.config.js
Labels: test

ci: version bump to v1.10.1
  package.json
Labels: dependencies

fix: upgrade concurrently from 5.1.0 to 5.2.0
  package.json
Labels: dependencies

fix: upgrade concurrently from 5.1.0 to 5.2.0
  yarn.lock
Labels: dependencies

ci: version bump to v1.10.2
  package.json
Labels: dependencies

chore(linting): prettier & eslint
  .eslintignore
  .eslintrc
  .prettierignore
  .prettierrc
Labels: none

chore(github): update labeler
  .github/labeler.yml
Labels: none

chore(mongodb): initialize script
  mongodb/init-mongo.js
Labels: build

test(jest): explicitly declare the test en
  jest.config.js
Labels: test

build(npm): dependencies
  package.json
  yarn.lock
Labels: dependencies

feat(writer): blog update
  apiary.apib
  src/database/repository/blog/index.ts
  src/routes/blog/writer/index.test.ts
  src/routes/blog/writer/index.ts
Labels: api, documentation

ci: version bump to v1.11.0
  package.json
Labels: dependencies

feat(writer): submit blog
  apiary.apib
  src/routes/blog/writer/index.ts
  src/utils/validators.ts
Labels: utils, api, documentation

ci: version bump to v1.12.0
  package.json
Labels: dependencies

feat(writer): withdraw blog
  apiary.apib
  src/routes/blog/writer/index.ts
Labels: api, documentation

ci: version bump to v1.13.0
  package.json
Labels: dependencies

fix: upgrade @types/node from 13.13.2 to 13.13.4
  package.json
Labels: dependencies

fix: upgrade @types/node from 13.13.2 to 13.13.4
  yarn.lock
Labels: dependencies

.github/labeler.yaml:

# Add 'core' label to any change within the 'core' directory
core:
  - src/core/*
  - src/core/**/*

auth:
  - src/auth/*
  - src/auth/**/*

database:
  - src/auth/*
  - src/auth/**/*

utils:
  - src/utils/*
  - src/utils/**/*

config:
  - src/config.(ts|js)
  - tsconfig.json

chore:
  - tslint.json
  - .gitignore
  - .env.*
  - lintstagedrc
  - github/*

build:
  - webpack.config.js
  - Dockerfile
  - docker-compose.yml
  - .nvmrc
  - .babelrc
  - mongodb/*

api:
  - src/routes/*
  - src/routes/**/*

dependencies:
  - package.json
  - yarn.lock
 
documentation:
  - ./.*md
  - ./*.apib
  - LICENSE

ci:
  - .travis.yml
  - Procfile
  - .releaserc.json
  - github/workflows/*

test:
  - src/**/*.test.(ts|js)
  - src/**/*.spec.(js|ts)
  - jest.config.js
