Repository SanctumLabs/calamus, changes with the labels that .github/labeler.yml gives for each.
All labels: core, auth, database, utils, config, chore, build, api, dependencies, documentation, ci, test

.github/labeler.yml:

# https://github.com/actions/labeler
core:
  - src/core/*
  - src/core/**/*

auth:
  - src/security/*
  - src/security/**/*

database:
  - src/database/*
  - src/database/**/*

utils:
  - src/utils/*
  - src/utils/**/*

config:
  - src/config.(ts|js)
  - tsconfig.json

chore:
  - tslint.json
  - .gitignore
  - .env.*
  - lintstagedrc
  - github/*
  - .npmignore

build:
  - webpack.config.js
  - Dockerfile
  - docker-compose.yml
  - .nvmrc
  - .babelrc
  - mongodb/*

api:
  - src/routes/*
  - src/routes/**/*

dependencies:
  - package.json
  - yarn.lock
 
documentation:
  - ./.*md
  - ./*.apib
  - LICENSE

ci:
  - .travis.yml
  - Procfile
  - .releaserc.json
  - github/workflows/*

test:
  - src/**/*.test.(ts|js)
  - src/**/*.spec.(js|ts)
  - jest.config.js

chore(alias): update auth alias
  jest.config.js
  tsconfig.json
  webpack.config.js
Labels: config, build, test

feat(auth): auth schema
  src/security/schema.ts
Labels: auth

chore(alias): update aliases
  jest.config.js
  tsconfig.json
  webpack.config.js
Labels: config, build, test

feat(auth): apikey
  src/security/apikey/index.test.ts
  src/security/apikey/index.ts
  src/security/apikey/mock.ts
  src/utils/role.ts
Labels: auth, utils

ci: version bump to v1.2.0
  package.json
Labels: dependencies

feat(auth): authentication wrapper
  jest.config.js
  src/core/jwt/JWT.test.ts
  src/core/jwt/JWT.ts
  src/core/jwt/mock.ts
  src/security/authUtils/index.test.ts
  src/security/authUtils/index.ts
  src/security/authentication/index.test.ts
  src/security/authentication/index.ts
  src/security/authentication/mock.ts
  tsconfig.json
  webpack.config.js
Labels: core, auth, config, build, test

ci: version bump to v1.3.0
  package.json
Labels: dependencies

feat(auth): authorization wrapper
  src/security/authorization/index.test.ts
  src/security/authorization/index.ts
  src/security/authorization/mock.ts
Labels: auth
