Repository SanctumLabs/calamus, changes with the labels that .github/labeler.yaml gives for each.
All labels: core, auth, database, utils, config, chore, build, api, dependencies, documentation, ci, test

Update and rename labeler.yaml to labeler.yml
  .github/labeler.yml
Labels: none

ci(travis): configure test coverage with travis
  .travis.yml
Labels: ci

test(jest): test discovery
  jest.config.js
Labels: test

chore(scripts): test scripts
  package.json
Labels: dependencies

feat(database): apikey repo
  src/app.ts
  src/database/index.ts
  src/database/repository/apikey/ApiKeyModel.ts
  src/database/repository/apikey/index.test.ts
  src/database/repository/apikey/index.ts
  src/database/repository/blog/index.ts
  src/database/repository/keystore/index.ts
  src/database/repository/role/index.ts
  src/database/repository/user/index.ts
Labels: none

feat(database): repositories and models
  .github/labeler.yml
  src/database/repository/blog/BlogModel.ts
  src/database/repository/blog/index.ts
  src/database/repository/keystore/KeystoreModel.ts
  src/database/repository/keystore/index.ts
  src/database/repository/role/RoleModel.ts
  src/database/repository/role/index.ts
  src/database/repository/user/UserModel.ts
  src/database/repository/user/index.ts
Labels: none

feat(types): declare request types
  src/types/app-request.d.ts
Labels: none

docs(readme): badge update
  README.md
Labels: none

ci(github-actions): npm registry publish
  .github/workflows/npmpublish.yml
  package.json
Labels: dependencies

chore(npm): npm package registry
  .github/labeler.yml
  .npmignore
  package.json
Labels: dependencies

ci(travis): publish coverage
  .travis.yml
Labels: ci

docs(readme): update readme
  README.md
Labels: none

docs(readme): api doc
  README.md
Labels: none

ci(github): ammend typo
  .github/workflows/npmpublish.yml
Labels: none

ci(travis): update travis script
  .travis.yml
Labels: ci

build(npm): remove version
  package.json
Labels: dependencies

ci(github-actions): bump package version
  .github/workflows/npmpublish.yml
  package.json
Labels: dependencies

ci(github-actions): update workflows
  .github/workflows/bumpnpmversion.yml
  .github/workflows/npmpublish.yml
Labels: none

feat(utils): async handler
  src/utils/asyncHandler.ts
Labels: utils

chore(alias): add types aliasing
  jest.config.js
  tsconfig.json
  webpack.config.js
Labels: config, build, test

feat(utils): role
  src/utils/role.ts
Labels: utils

feat(utils): validators
  src/utils/validators.ts
Labels: utils

ci: version bump to v1.1.0
  package.json
Labels: dependencies

chore(github): labeler
  .github/labeler.yml
Labels: none

chore(alias): update auth alias
  jest.config.js
  tsconfig.json
  webpack.config.js
Labels: config, build, test

feat(auth): auth schema
  src/security/schema.ts
Labels: none

chore(alias): update aliases
  jest.config.js
  tsconfig.json
  webpack.config.js
Labels: config, build, test

feat(auth): apikey
  src/security/apikey/index.test.ts
  src/security/apikey/index.ts
  src/security/apikey/mock.ts
  src/utils/role.ts
Labels: utils

ci: version bump to v1.2.0
  package.json
Labels: dependencies

feat(auth): authentication wrapper
  jest.config.js
  src/core/jwt/JWT.test.ts
  src/core/jwt/JWT.ts
  src/core/jwt/mock.ts
  src/security/authUtils/index.test.ts
  src/security/authUtils/index.ts
  src/security/authentication/index.test.ts
  src/security/authentication/index.ts
  src/security/authentication/mock.ts
  tsconfig.json
  webpack.config.js
Labels: core, config, build, test

ci: version bump to v1.3.0
  package.json
Labels: dependencies

feat(auth): authorization wrapper
  src/security/authorization/index.test.ts
  src/security/authorization/index.ts
  src/security/authorization/mock.ts
Labels: none

ci: version bump to v1.3.1
  package.json
Labels: dependencies

feat(authentication): registration
  apiary.apib
  jest.config.js
  package.json
  src/app.ts
  src/core/ApiResponse.ts
  src/core/jwt/JWT.ts
  src/core/jwt/exceptions.ts
  src/routes/auth/login/mock.ts
  src/routes/auth/login/schema.ts
  src/routes/auth/register/index.test.ts
  src/routes/auth/register/index.ts
  src/routes/auth/register/mock.ts
  src/routes/auth/register/schema.ts
  src/routes/auth/token/schema.ts
  src/routes/index.ts
  src/security/apikey/index.ts
  src/security/authUtils/index.ts
  src/types/app-request.d.ts
  src/utils/asyncHandler.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Labels: core, utils, config, build, api, dependencies, documentation, test

ci: version bump to v1.4.0
  package.json
Labels: dependencies

test: fix tests
  .env.example
  .env.test.example
  .gitignore
  .travis.yml
  docker-compose.yml
  jest.config.js
  scripts/setup-tests.ts
  scripts/setup.ts
  src/core/ApiResponse.ts
  src/routes/auth/register/index.test.ts
  src/routes/auth/register/index.ts
  src/routes/auth/register/schema.ts
  src/security/apikey/index.test.ts
  src/security/authentication/index.test.ts
  src/security/authorization/index.test.ts
  src/utils/asyncHandler.ts
Labels: core, utils, chore, build, api, ci, test

ci: version bump to v1.4.1
  package.json
Labels: dependencies

test: fix tests
  jest-mongodb-config.js
  jest.config.js
  package.json
  scripts/mongodb.mock.js
  yarn.lock
Labels: dependencies, test

ci: version bump to v1.4.2
  package.json
Labels: dependencies

build(docker): use pm2-runtime
  .dockerignore
  .travis.yml
  Dockerfile
  jest.config.js
  package.json
  scripts/mongodb.mock.js
  src/database/repository/apikey/ApiKeyModel.ts
  src/routes/auth/login/index.test.ts
  src/routes/auth/login/index.ts
  src/routes/auth/login/schema.ts
  src/routes/index.ts
  src/utils/role.ts
Labels: utils, build, api, dependencies, ci, test

.github/labeler.yaml:

# Add 'core' label to any change within the 'core' directory
core:
  - src/core/*
  - src/core/**/*

auth:
  - src/auth/*
  - src/auth/**/*

database:
  - src/auth/*
  - src/auth/**/*

utils:
  - src/utils/*
  - src/utils/**/*

config:
  - src/config.(ts|js)
  - tsconfig.json

chore:
  - tslint.json
  - .gitignore
  - .env.*
  - lintstagedrc
  - github/*

build:
  - webpack.config.js
  - Dockerfile
  - docker-compose.yml
  - .nvmrc
  - .babelrc
  - mongodb/*

api:
  - src/routes/*
  - src/routes/**/*

dependencies:
  - package.json
  - yarn.lock
 
documentation:
  - ./.*md
  - ./*.apib
  - LICENSE

ci:
  - .travis.yml
  - Procfile
  - .releaserc.json
  - github/workflows/*

test:
  - src/**/*.test.(ts|js)
  - src/**/*.spec.(js|ts)
  - jest.config.js
