Repository SanctumLabs/calamus, changes with the labels that .github/labeler.yaml gives for each.
All labels: core, auth, database, utils, config, chore, build, api, dependencies, documentation, ci, test

ci: version bump to v1.4.3
  package.json
Labels: dependencies

feat(runtime): use pm2 runtime
  Dockerfile
  ecosystem.config.js
Labels: build

ci: version bump to v1.5.0
  package.json
Labels: dependencies

feat(auth): jwt token
  .env.example
  src/core/jwt/JWT.test.ts
  src/core/jwt/JWT.ts
  src/routes/auth/register/index.ts
  src/security/authUtils/index.test.ts
  src/security/authUtils/index.ts
  src/security/authentication/index.ts
  src/security/authentication/mock.ts
  src/security/authorization/mock.ts
Labels: core, chore, api

ci: version bump to v1.6.0
  package.json
Labels: dependencies

feat(auth): deregistration
  src/app.ts
  src/database/repository/user/index.ts
  src/routes/auth/deregister/index.ts
  src/routes/auth/register/index.ts
  src/routes/index.ts
Labels: api

ci: version bump to v1.7.0
  package.json
Labels: dependencies

docs(api): add deregister route
  apiary.apib
Labels: documentation

test(api): deregister route
  src/routes/auth/deregister/index.test.ts
Labels: api

ci: version bump to v1.7.1
  package.json
Labels: dependencies

feat(auth): token refresh
  src/database/repository/keystore/index.ts
  src/database/repository/user/index.ts
  src/routes/auth/login/index.ts
  src/routes/auth/token/index.ts
  src/routes/index.ts
Labels: api

ci: version bump to v1.8.0
  package.json
Labels: dependencies

Update dockerimage.yml
  .github/workflows/dockerimage.yml
Labels: none

Update dockerimage.yml
  .github/workflows/dockerimage.yml
Labels: none

Update dockerimage.yml
  .github/workflows/dockerimage.yml
Labels: none

Update dockerimage.yml
  .github/workflows/dockerimage.yml
Labels: none

docs(readme): badges
  README.md
Labels: none

ci: version bump to v1.8.1
  package.json
Labels: dependencies

feat(auth): token refresh
  apiary.apib
  nodemon.json
  package.json
  src/database/repository/keystore/index.ts
  src/routes/auth/login/index.ts
  tsconfig.json
  yarn.lock
Labels: config, api, dependencies, documentation

test(mongodb): configure mongodb tests
  .travis.yml
  jest.config.js
  package.json
  scripts/mongodb.mock.js
  yarn.lock
Labels: dependencies, ci, test

fix: upgrade lint-staged from 10.1.3 to 10.1.5
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @types/mongoose from 5.7.10 to 5.7.12
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @types/lodash from 4.14.149 to 4.14.150
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade ts-jest from 25.3.1 to 25.4.0
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade mongoose from 5.9.7 to 5.9.9
  package.json
  yarn.lock
Labels: dependencies

ci: version bump to v1.8.2
  package.json
Labels: dependencies

ci: version bump to v1.8.2
  package.json
Labels: dependencies

ci: version bump to v1.8.2
  package.json
Labels: dependencies

ci: version bump to v1.8.2
  package.json
Labels: dependencies

ci: version bump to v1.8.2
  package.json
Labels: dependencies

feat(profile): schema
  src/routes/profile/schema.ts
Labels: api

fix: upgrade jest from 25.3.0 to 25.4.0
  package.json
  yarn.lock
Labels: dependencies

fix: upgrade @types/node from 13.11.1 to 13.13.0
  package.json
  yarn.lock
Labels: dependencies

ci: version bump to v1.8.3
  package.json
Labels: dependencies

ci: version bump to v1.8.3
  package.json
Labels: dependencies

feat(profile): public profile by id
  src/app.ts
  src/routes/index.ts
  src/routes/profile/index.ts
  src/utils/validators.ts
Labels: utils, api

ci: version bump to v1.9.0
  package.json
Labels: dependencies

doc(api): api description for profile
  apiary.apib
Labels: documentation

feat(profile): get by name
  apiary.apib
  src/database/repository/user/index.ts
  src/routes/profile/index.ts
  src/routes/profile/schema.ts
Labels: api, documentation

feat(profile): private profile
  apiary.apib
  src/routes/profile/index.ts
Labels: api, documentation

.github/labeler.yaml:

# Add 'core' label to any change within the 'core' directory
core:
  - src/core/*
  - src/core/**/*

auth:
  - src/auth/*
  - src/auth/**/*

database:
  - src/auth/*
  - src/auth/**/*

utils:
  - src/utils/*
  - src/utils/**/*

config:
  - src/config.(ts|js)
  - tsconfig.json

chore:
  - tslint.json
  - .gitignore
  - .env.*
  - lintstagedrc
  - github/*

build:
  - webpack.config.js
  - Dockerfile
  - docker-compose.yml
  - .nvmrc
  - .babelrc
  - mongodb/*

api:
  - src/routes/*
  - src/routes/**/*

dependencies:
  - package.json
  - yarn.lock
 
documentation:
  - ./.*md
  - ./*.apib
  - LICENSE

ci:
  - .travis.yml
  - Procfile
  - .releaserc.json
  - github/workflows/*

test:
  - src/**/*.test.(ts|js)
  - src/**/*.spec.(js|ts)
  - jest.config.js
