Repository SanctumLabs/calamus, changes with the labels that .github/labeler.yaml gives for each.
All labels: core, auth, database, utils, config, chore, build, api, dependencies, documentation, ci, test

.github/labeler.yaml:

# Add 'core' label to any change within the 'core' directory
core:
  - src/core/*
  - src/core/**/*

auth:
  - src/auth/*
  - src/auth/**/*

database:
  - src/auth/*
  - src/auth/**/*

utils:
  - src/utils/*
  - src/utils/**/*

config:
  - src/config.(ts|js)
  - tsconfig.json

chore:
  - tslint.json
  - .gitignore
  - .env.*
  - lintstagedrc
  - github/*

build:
  - webpack.config.js
  - Dockerfile
  - docker-compose.yml
  - .nvmrc
  - .babelrc
  - mongodb/*

api:
  - src/routes/*
  - src/routes/**/*

dependencies:
  - package.json
  - yarn.lock
 
documentation:
  - ./.*md
  - ./*.apib
  - LICENSE

ci:
  - .travis.yml
  - Procfile
  - .releaserc.json
  - github/workflows/*

test:
  - src/**/*.test.(ts|js)
  - src/**/*.spec.(js|ts)
  - jest.config.js

fix: upgrade @types/helmet from 0.0.45 to 0.0.46
  package.json
Labels: dependencies

fix: upgrade @types/helmet from 0.0.45 to 0.0.46
  yarn.lock
Labels: dependencies

fix: upgrade ts-node from 8.9.0 to 8.9.1
  package.json
Labels: dependencies

fix: upgrade ts-node from 8.9.0 to 8.9.1
  yarn.lock
Labels: dependencies

ci: version bump to v1.12.1
  package.json
Labels: dependencies

ci: version bump to v1.12.1
  package.json
Labels: dependencies

ci: version bump to v1.12.1
  package.json
Labels: dependencies

fix: upgrade tslint from 6.1.1 to 6.1.2
  package.json
Labels: dependencies

fix: upgrade tslint from 6.1.1 to 6.1.2
  yarn.lock
Labels: dependencies

ci: version bump to v1.13.1
  package.json
Labels: dependencies

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
Labels: none

fix: .snyk & package.json to reduce vulnerabilities
  package.json
Labels: dependencies

ci: version bump to v1.13.1
  package.json
Labels: dependencies

fix: upgrade jest from 25.4.0 to 25.5.2
  package.json
Labels: dependencies

fix: upgrade jest from 25.4.0 to 25.5.2
  yarn.lock
Labels: dependencies

fix: upgrade mongodb from 3.5.6 to 3.5.7
  package.json
Labels: dependencies

fix: upgrade mongodb from 3.5.6 to 3.5.7
  yarn.lock
Labels: dependencies

fix: upgrade lint-staged from 10.1.7 to 10.2.0
  package.json
Labels: dependencies

fix: upgrade lint-staged from 10.1.7 to 10.2.0
  yarn.lock
Labels: dependencies

ci: version bump to v1.13.1
  package.json
Labels: dependencies

ci: version bump to v1.13.1
  package.json
Labels: dependencies

ci: version bump to v1.13.1
  package.json
Labels: dependencies

feat(writer): blog delete
  apiary.apib
  src/database/exceptions.ts
  src/database/repository/blog/exceptions.ts
  src/database/repository/blog/index.ts
  src/routes/blog/writer/index.ts
Labels: api, documentation

ci: version bump to v1.14.0
  package.json
Labels: dependencies

feat(writer): get blog
  apiary.apib
  src/routes/blog/writer/index.ts
Labels: api, documentation

feat(writer): published, submissions, drafts
  apiary.apib
  src/routes/blog/writer/index.ts
Labels: api, documentation

feat(editor): publish blog
  apiary.apib
  src/routes/blog/editor/index.ts
  src/routes/blog/writer/index.ts
  src/routes/index.ts
Labels: api, documentation

ci: version bump to v1.15.0
  package.json
Labels: dependencies

build(npm): dependencies
  package.json
  yarn.lock
Labels: dependencies

ci: version bump to v1.15.1
  package.json
Labels: dependencies

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
Labels: none

fix: .snyk & package.json to reduce vulnerabilities
  package.json
Labels: dependencies

ci: version bump to v1.15.2
  package.json
Labels: dependencies

feat(editor): unpublish blog
  apiary.apib
  src/app.ts
  src/routes/blog/editor/index.ts
Labels: api, documentation

ci: version bump to v1.16.0
  package.json
Labels: dependencies

feat(editor): delete a blog
  src/routes/blog/editor/index.ts
  src/routes/blog/writer/index.ts
Labels: api

docs(api): editor delete api
  apiary.apib
Labels: documentation

ci: version bump to v1.17.0
  package.json
Labels: dependencies

chore(imports): import success response
  src/routes/blog/editor/index.ts
Labels: api

docs(api): apiary doc
  apiary.apib
Labels: documentation
